@page "/"

<PageTitle>Home</PageTitle>


<style>
    .logo-container {
        width: 340px; /* final visible size */
        height: 220px;
        overflow: hidden; /* hides cropped area */
    }

    .logo {
        width: 100%; /* scales down to container */
        height: auto;
        vertical-align: central;
        clip-path: inset(0 40px 5px 0);
    }
</style>


<h1>OpsReady</h1>

<div class="logo-container">
    <img src="images/OpsReadyLogo_v3.png" alt="Company Logo" class="logo"/>
</div>

Your all in one resource and training tracking solution.
