<div class="top-row ps-3 navbar navbar-dark">
    <div class="container-fluid">
        <a class="navbar-brand" href="">OpsReadyUI</a>
    </div>
</div>

<input type="checkbox" title="Navigation menu" class="navbar-toggler" />

<div class="nav-scrollable" onclick="document.querySelector('.navbar-toggler').click()">
    <nav class="nav flex-column">

        <div class="nav-item px-3">
            <NavLink class="nav-link" href="" Match="NavLinkMatch.All">
                <span class="bi bi-house-door-fill-nav-menu" aria-hidden="true"></span> Home
            </NavLink>
        </div>
        <div class="nav-item px-3">
            <NavLink class="nav-link" href="dashboard" Match="NavLinkMatch.All">
                <span class="bi bi-graph-up" aria-hidden="true"></span> Dashboard
            </NavLink>
        </div>
        <div class="nav-item px-3">
            <NavLink class="nav-link" href="user/add" Match="NavLinkMatch.Prefix">
                <span class="bi bi-person"></span> Register
            </NavLink>
        </div>
        <div class="nav-item px-3">
            <NavLink class="nav-link" href="user/list" Match="NavLinkMatch.Prefix">
                <span class="bi bi-people"></span> User List
            </NavLink>
        </div>
        <div class="nav-item px-3">
            <NavLink class="nav-link" href="training/list" Match="NavLinkMatch.Prefix">
                <span class="bi bi-mortarboard"></span> Training List
            </NavLink>
        </div>
        <div class="nav-item px-3">
            <NavLink class="nav-link" href="vechicle/list" Match="NavLinkMatch.Prefix">
                <span class="bi bi-car-front"></span> Vechicle List
            </NavLink>
        </div>
        <div class="nav-item px-3">
            <NavLink class="nav-link" href="gear/list" Match="NavLinkMatch.Prefix">
                <span class="bi bi-tools"></span> Gear List
            </NavLink>
        </div>
    </nav>
</div>

